@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&display=swap');

// VARIABLES
$clr-red: #d64933;
$clr-red-hover: #aa3422;
$clr-green: #74a57f;
$clr-green-hover: #598863;
$clr-blue: #39b3e6;
$clr-blue-hover: #1993c8;

$clr-black: #1e1e24;
$clr-grey: #41414e;
$clr-grey-hover: #545464;
$clr-yellow: #f1a208;
$clr-text: #fffffa;
$clr-text-complete: rgba(255, 255, 250, 0.15);

$header-height: 8rem;
$item-height: 3.5rem;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Open Sans' sans-serif;
  font-size: 18px;
  color: $clr-text;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background-color: $clr-black;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100%;

  padding: 0.5rem;

  .header {
    width: 100%;
    max-width: 500px;
    height: 25%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1rem;

    border-radius: 5px;

    background-color: $clr-grey;
    box-shadow: 3px 3px 0px rgba($color: #000000, $alpha: 0.15);

    h1 {
      font-family: 'Lobster';
      font-size: 1.8rem;
      letter-spacing: 1px;
      color: $clr-text;

      margin-bottom: 1rem;

      text-shadow: 3px 3px 0px rgba($color: #000000, $alpha: 0.15);
    }

    .todo-form {
      display: flex;
      justify-content: space-between;
      align-items: center;

      width: 100%;
      max-width: 500px;

      border-radius: 5px;
      background-color: $clr-grey;

      .todo-input {
        outline: none;
        border: 2px solid white;
        border-radius: 5px;

        width: 100%;
        height: 2rem;
        margin-right: 1rem;
        padding-left: 0.5rem;

        color: $clr-black;
        box-shadow: 3px 3px 0px rgba($color: #000000, $alpha: 0.15);

        &:focus {
          border: 2px solid $clr-yellow;
        }
      }

      .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .submit-btn {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          border: none;
          border-radius: 5px;
          outline: none;
          background-color: $clr-blue;
          box-shadow: 3px 3px 0px rgba($color: #000000, $alpha: 0.15);

          width: 2rem;
          height: 2rem;

          cursor: pointer;

          transition: all 0.2s ease;

          .fas {
            font-size: 1.25rem;
            color: $clr-text;
          }

          &:hover {
            background-color: $clr-blue-hover;
          }
        }
      }
    }
  }

  .todos-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    max-width: 500px;
    height: 100%;
    margin: 0.5rem 0;

    overflow: hidden;
    border-radius: 5px;

    .todo-list {
      list-style: none;
      overflow-y: auto;

      padding: 0 0.25rem;

      width: 100%;

      .todo-complete {
        text-decoration: 4px line-through;
        color: $clr-text-complete;
      }

      .todo-item {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        position: relative;

        margin-bottom: 0.5rem;

        width: 100%;
        max-width: 500px;
        padding: 0.5rem;

        border-radius: 5px;
        background-color: $clr-grey;
        box-shadow: 3px 3px 0px rgba($color: #000000, $alpha: 0.15);

        transition: all 0.2s ease;

        &:hover {
          background-color: $clr-grey-hover;
        }

        .arrow-container {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: auto;

          margin: 0 0.25rem;

          .up-btn,
          .down-btn {
            border: none;
            outline: none;
            background-color: transparent;

            cursor: pointer;

            &:enabled {
              .fas {
                transition: all 0.2s ease;
              }
              &:hover {
                .fas {
                  transform: scale(1.25);
                  color: $clr-yellow;
                }
              }
            }

            &:disabled {
              opacity: 0.1;
              cursor: initial;
            }
          }

          .fas {
            font-size: 0.8rem;
            text-shadow: 2px 2px 0px rgba($color: #000000, $alpha: 0.15);
          }
        }

        .todo-item-form-wrapper {
          display: flex;

          width: 100%;

          .todo-item-form {
            width: 100%;

            margin: 0 0.5rem;

            .todo-item-input {
              border: none;
              background-color: transparent;
              outline: none;

              width: 100%;

              &:focus {
                background-color: white;
                color: $clr-black;
                height: 2rem;
                padding-left: 0.25rem;

                border: 2px solid $clr-yellow;
                border-radius: 5px;

                box-shadow: 3px 3px 0px rgba($color: #000000, $alpha: 0.15);
              }
            }
          }
        }

        .btn-container {
          display: flex;
          justify-content: space-between;
          align-items: center;

          width: 4.5rem;

          .complete-btn,
          .delete-btn {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            border: none;
            border-radius: 50%;
            outline: none;

            width: 1.5rem;
            height: 1.5rem;

            cursor: pointer;

            box-shadow: 3px 3px 0px rgba($color: #000000, $alpha: 0.15);

            transition: all 0.2s ease;

            .fas {
              font-size: 1rem;
            }
          }
          .save-enabled {
            display: none;
          }

          .complete-btn {
            background-color: $clr-green;
            .fas {
              transform: translateY(1px);
              color: white;
            }

            &:hover {
              background-color: $clr-green-hover;
            }
          }

          .delete-btn {
            background-color: $clr-red;
            .fas {
              color: white;
            }

            &:hover {
              background-color: $clr-red-hover;
            }
          }

          .save-btn {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            margin: 0 auto;

            border: none;
            border-radius: 5px;
            outline: none;
            background-color: $clr-blue;
            box-shadow: 3px 3px 0px rgba($color: #000000, $alpha: 0.15);

            width: 1.75rem;
            height: 1.75rem;

            cursor: pointer;

            .far {
              font-size: 1.25rem;
              color: white;
            }

            &:hover {
              background-color: $clr-blue-hover;
            }
          }
          .save-disabled {
            display: none;
          }
        }
      }
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 500px;
    height: 15%;

    border-radius: 5px;

    background-color: $clr-grey;
    box-shadow: 3px 3px 0px rgba($color: #000000, $alpha: 0.15);

    .clear-btn {
      border: none;
      border-radius: 5px;
      outline: none;
      background-color: $clr-red;

      letter-spacing: 1px;
      color: white;

      padding: 0.4rem 0.8rem;

      box-shadow: 3px 3px 0px rgba($color: #000000, $alpha: 0.15);

      transition: all 0.2s ease;

      &:hover {
        background-color: $clr-red-hover;
      }
    }
  }
  .empty {
    display: none;
  }
}

@media screen and (min-width: 550px) {
  body {
    background-color: black;
  }

  .main-wrapper {
    max-width: calc(500px + 2rem);
    min-height: 700px;
    max-height: 90vh;

    padding: 1rem 0;
    border-radius: 15px;

    background-color: $clr-black;
  }
}
